  .subs {
    background-color:rgb(200,0,0);
    color: white;
    border-radius: 2px;
    height: 38px;
    width: 105px;
    border: none;
    cursor: pointer;
    margin-right: 7px;
    transition: opacity 0.3s;
  } 
  .subs:hover {
    opacity: 0.7;
  }
  .subs:active { 
    opacity: 0.5;
    transition: none;
  }
  .join { 
    background-color: white;
    color:rgb(54, 75, 214);
    border-color: rgb(54, 75, 214);
    border-style: solid;
    border-radius: 2px;
    height: 38px;
    width: 62px;
    cursor:pointer; 
    border-width: 1px;
    transition: background-color 0.3s, color 0.3s; 

  }
  .join:hover {
    background-color: rgb(54, 75, 214);
    color: white;
  }
  .tweet {
    height: 38px;
    width: 70px;
    background-color: rgb(23, 95, 238);
    border-radius: 18px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 7px;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  .tweet:hover { 
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  }
  .Uber { 
    background-color: black;
    color: white;
    margin-left: 7px;
    height: 38px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .Uber:hover {
    opacity: 0.8;
  }
  .Amazon { 
    background-color: rgb(255,216,20);
    height: 30px;
    width: 120px;
    border-radius: 19px;
    margin-left: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  .Amazon:hover {
    background-color: rgb(230, 194, 14);
  }
  .github { 
    background-color: rgb(46,164,79);
    font-weight: bold;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 4px;
    margin-left: 7px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }
  .github:hover {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  }
  .linkedin { 
    height: 30px;
    width: 200px;
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    border:none; 
    margin-left: 7px;
    border-radius: 15px;
    cursor: pointer;
  }
  .linkedin2 { 
    border-color:rgb(10, 102, 194);
    border-radius: 15px;
    border-width: 1px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    border-style: solid;
    color: rgb(10, 102, 194);
    height: 30px;
    width: 70px;
    cursor: pointer;
    transition: border-width 0.2s, color 0.3s, background-color 0.3s;
  }
  .linkedin2:hover {
    border-width: 2px;
    background-color: rgb(157, 195, 232);
  }
